.wallet {overflow: hidden; height: 440px;}
.wallet .tag {
  border-radius: 0;
  position: absolute;width: 200px;left: -66px;top: 14px;
  transform: rotate(-30deg);
  -ms-transform: rotate(-30deg); /* IE 9 */
  -moz-transform: rotate(-30deg); /* Firefox */
  -webkit-transform: rotate(-30deg); /* Safari 和 Chrome */
  -o-transform: rotate(-30deg);
}

.wallet .button-groups {position: absolute; bottom: 10px; left: 0;width: 100%; padding-left: 20px;padding-right: 20px; box-sizing: border-box;}
.wallet .button-groups > * {margin-left: 10px;}
.wallet .coin{height: 22px; align-self: center;}
.wallet .coin img{height: 100%;}

.margin-bottom-0{margin-bottom: 0;}
.padding-0{padding: 0;}




/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container.active .front{
  transform: rotateY(180deg);
}

.flip-container.active .back {
  transform: rotateY(0deg);
}

.flip-container, .front, .back {
  width: 24rem;
  height: 440px;
}

/* flip speed goes here */
.flipper {
  /*transition: 0.6s;*/
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {transform: rotateY(180deg);z-index: -3}

